{
    "plugins": ["react"],
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "ecmaVersion": 2015,
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:jest/recommended"
    ],
    "parser": "babel-eslint",
    "env": {
      "browser": true
    },
    "rules": {
      "react/prop-types": "off",
      "semi": "error"
    }
  }